@{
    ViewBag.Title = "關於馥裕";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">@ViewBag.Title</h1>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border ftco-animate">
                    <div class="text">
                        <p>馥裕國際事業股份有限公司</p>
                        <p>成立於西元2007年2月5日</p>
                        <p>於2019年3月創立水森活事業，由蔡宜蓁、耿憲立，共同創辦</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
