

<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" data-i18n="app.aboutFuyu">关于馥裕</h1>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border ftco-animate">
                    <div class="text">
                        <p data-i18n="app.companyFullName">馥裕国际事业股份有限公司</p>
                        <p data-i18n="app.aboutDate">成立于西元2007年2月5日</p>
                        <p data-i18n="app.aboutFounder">于2019年3月创立水森活事业，由蔡宜蓁、耿宪立，共同创办</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
