
<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" data-i18n="app.chairmanMessage">董事长的话</h1>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center" style="background-image: url(../../img/ChairmanMessage_Person1.jpg);">

                </div>
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4" data-i18n="app.chairmanAboutMe">关于我这个人</h2>
                <p data-i18n="app.chairmanLife">
                    我生长在横跨百货、运输、建筑业的家族里，家族对我的影响至深，让我产生对事业版图的迈进更加的执着。
                    也曾经接独各宗教领域，深深感受到为人处事的道理，激发我想成为一位可以手心向下拉人一把的善念；
                    希望藉由馥裕国际事业股份有限公司的经营理念，未来可以帮助许多朋友拥有智慧，脱离贫穷，
                    在馥裕国际水森活这个事业里，可以帮助许多朋友解决一生的财务问题，进而也成为许多朋友生命中的贵人。
                </p>
                <h2 class="mb-4" data-i18n="app.responsibility">我们的企业使命</h2>
                <p data-i18n="app.responsibilityContent">
                    我们馥裕国际的企业使命与任务十分简单，那就是让自已远离贫穷是一种责任，帮助别人拥有智慧，脱离贫穷更是大爱，
                    带给人们更健康、更美好的生活，在未来的10年，至少将会有30亿人选择追求更健康、更富裕的生活，这绝对是一个契机。
                    我们竭诚欢迎您加入我们。馥裕国际的行列从帮助一个人开始，到帮助千万人成功，为下一个更富丽的10年共同努力，开创新局。
                </p>
                <p data-i18n="app.bestRegard"> 谨此 献上最佳的祝福</p>
                <img src="~/img/ChairemanSign.png" /><br />
                <font size="5" face="標楷體" data-i18n="app.companyFullName">馥裕國際事業股份有限公司</font><br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5" face="標楷體" data-i18n="app.chairman">董事长</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size="5" face="標楷體" data-i18n="app.tsai">蔡宜蓁</font><br />
                <font size="3" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chairman&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cindy</font>

            </div>
        </div>
    </div>
</section>

