
@{
    ViewBag.Title = "董事長的話";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">@ViewBag.Title</h1>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center" style="background-image: url(../../img/ChairmanMessage_Person1.jpg);">

                </div>
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">關於我這個人</h2>
                <p>
                    我生長在橫跨百貨、運輸、建築業的家族裡，家族對我的影響至深，讓我產生對事業版圖的邁進更加的執著。
                    也曾經接獨各宗教領域，深深感受到為人處事的道理，激發我想成為一位可以手心向下拉人一把的善念；
                    希望藉由馥裕國際事業股份有限公司的經營理念，未來可以幫助許多朋友擁有智慧，脫離貧窮，
                    在馥裕國際水森活這個事業裡，可以幫助許多朋友解決一生的財務問題，進而也成為許多朋友生命中的貴人。
                </p>
                <h2 class="mb-4">我們的企業使命</h2>
                <p>
                    我們馥裕國際的企業使命與任務十分簡單，那就是讓自已遠離貧窮是一種責任，幫助別人擁有智慧，脫離貧窮更是大愛，
                    帶給人們更健康、更美好的生活，在未來的10年，至少將會有30億人選擇追求更健康、更富裕的生活，這絕對是一個契機。
                    我們竭誠歡迎您加入我們。馥裕國際的行列從幫助一個人開始，到幫助千萬人成功，為下一個更富麗的10年共同努力，開創新局。
                </p>
                <p> 謹此  獻上最佳的祝福</p>
                <img src="~/img/ChairemanSign.png" /><br/>
                <font size="5" face="標楷體">馥裕國際事業股份有限公司</font><br />
                <font size="5" face="標楷體">&nbsp;&nbsp;&nbsp;&nbsp;董事長&nbsp;&nbsp;&nbsp;&nbsp;蔡宜蓁</font><br />
                <font size="3" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chairman&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cindy</font>

            </div>
        </div>
    </div>
</section>

