@{
    ViewBag.Title = "聯絡方式";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <address>
            <p>公司地址:台北市中山區林森北路452號9樓之8</p>
            <p>聯絡電話:02-25210101</p>
            <strong>E-mail:</strong><a href="fuyuMarketingTsai@gmail.com">fuyuMarketingTsai@gmail.com</a><br />
        </address>
    </div>
</div>
