<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" data-i18n="app.foreword">前言</h1>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border">
                    <div class="img" style="background-image: url(../../img/About_Building.jpg); border"></div>
                    <div class="text">
                        <h3 data-i18n="app.ForewordBuilding">馥裕国际大楼外观</h3>
                        @*<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrap-about pr-md-4 ftco-animate">
                <h3 data-i18n="app.ForewordTalk">我们聊聊吧</h3>
                <p data-i18n="app.ForewordTalkContent">
                    我们是馥裕国际事业股份有限公司，在此想花几分钟与您谈谈为何对馥裕国际事业股份有限公司如此兴奋！
                    在您加入成为馥裕国际事业股份有限公司分销商起，您已经向无限量的财务成功与个人成就踏出了第一步，
                    因为我们与您正在创造奇迹！
                </p>
                <h3 data-i18n="app.ForewordMiracle">奇迹正在发生</h3>
                <p data-i18n="app.ForewordMiracleContent">
                    这个奇迹可以解决许多不同类型的问题，并可创造出数十亿美元的商机，在馥裕国际事业股份有限公司里，
                    最值得骄傲的资产是我们拥有最有才华、最有远见、正在分享我们事业的领导者-------您们，
                    我们常常在想如何以最好的方式酬谢您们，因此我们首先推出最独特革命性的商品，加上世界第一套独特精彩的市场计划，
                    此刻您正可以开始与人分享这份绝佳的事业机会，您可依据最适合自已的状况来决定以兼职或专职的方式规划及经营这份事业，
                    因为它是属于您自已的事业，每一位加入我们事业的分销商都拥有各自不同的时间、体力、热情、专业、背景、梦想、知识与天赋，
                    因为这些差异性，我们更显独特，要----相信自已----要相信自已所拥有的能力，给自已时间努力学习来获取您所梦想的一切，
                    记住！为了自已的理想来从事这份事业，您并不会孤独！因为最值得您骄傲的将会是―您的观念的改变，
                    这份事业将会使您成为一位不同于以往的「您」，在此，馥裕国际事业股份有限公司热烈欢迎您，的参与，
                    并献上我们最诚摰的祝福！
                </p>
            </div>
        </div>
    </div>
</section>



