@{
    ViewBag.Title = "前言";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">@ViewBag.Title</h1>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border">
                    <div class="img" style="background-image: url(../../img/About_Building.jpg); border"></div>
                    <div class="text">
                        <h3>馥裕國際大樓外觀</h3>
                        @*<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Contact us</a></p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrap-about pr-md-4 ftco-animate">
                <h3>我們聊聊吧</h3>
                <p>
                    我們是馥裕國際事業股份有限公司，在此想花幾分鐘與您談談為何對馥裕國際事業股份有限公司如此興奮！
                    在您加入成為馥裕國際事業股份有限公司分銷商起，您已經向無限量的財務成功與個人成就踏出了第一步，
                    因為我們與您正在創造奇蹟！
                </p>
                <h3>奇蹟正在發生</h3>
                <p>
                    這個奇蹟可以解決許多不同類型的問題，並可創造出數十億美元的商機，在馥裕國際事業股份有限公司裡，
                    最值得驕傲的資產是我們擁有最有才華、最有遠見、正在分享我們事業的領導者-------您們，
                    我們常常在想如何以最好的方式酬謝您們，因此我們首先推出最獨特革命性的商品，加上世界第一套獨特精彩的市場計劃，
                    此刻您正可以開始與人分享這份絕佳的事業機會，您可依據最適合自已的狀況來決定以兼職或專職的方式規劃及經營這份事業，
                    因為它是屬於您自已的事業，每一位加入我們事業的分銷商都擁有各自不同的時間、體力、熱情、專業、背景、夢想、知識與天賦，
                    因為這些差異性，我們更顯獨特，要----相信自已----要相信自已所擁有的能力，給自已時間努力學習來獲取您所夢想的一切，
                    記住！為了自已的理想來從事這份事業，您並不會孤獨！因為最值得您驕傲的將會是―您的觀念的改變，
                    這份事業將會使您成為一位不同於以往的「您」，在此，馥裕國際事業股份有限公司熱烈歡迎您，的參與，
                    並獻上我們最誠摰的祝福！
                </p>
            </div>
        </div>
    </div>
</section>



