@{
    ViewBag.Title = "Home Page";
}
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(../../img/Index_Head1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">

                    <h1 class="mb-4">歡迎來到馥裕</h1>
                    <span class="subheading">我們是您最佳的事業伙伴</span>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(../../img/Index_Head2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">

                    <h1 class="mb-4">發展</h1>
                    <h1 class="mb-4">屬於您的事業</h1>
                    <span class="subheading">今天的加入，迎向明天的成功</span>
                    @*<p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border ftco-animate">
                    <h2 class="mb-4">公司介紹</h2>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="services text-center">
                                <div class="text media-body">
                                    <h3>經營理念：</h3>
                                    <p>
                                        馥裕國際事業股份有限公司秉持誠實經營及關懷弱勢族群提升生活品質至上的堅強理念，
                                        將會是馥裕國際事業股份有限公司與分銷商合而為一。 共同一體的事業體、共同經營、共同分享，以「事奉」為出發點，創造「一生的保障，一世的富足。」
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="services text-center">
                                <div class="text media-body">
                                    <h3>競爭優勢：</h3>
                                    <p>
                                        推出全球頂尖獨特革命性商品，創新通路的行銷理念，滿足現代人的需求，不斷推陳出新，市場永不退化，
                                        馥裕國際事業股份有限公司會給您最堅強的後盾―行政團隊，國內外全力支援協助您從事並經營馥裕國際事業股份有限公司的事業體；
                                        不僅深植台灣，並已為進入全球舞台做好萬全準備！！！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <h2>活動花絮</h2>
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(../../img/ClassStudy1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">課程研習1</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(../../img/ClassStudy2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">課程研習2</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/ClassStudy3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">課程研習3</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(../../img/ProductBriefing1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">產品說明1</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/ProductBriefing2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">產品說明2</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/CompanyDinner1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">公司聚餐1</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(../../img/CompanyDinner2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">公司聚餐2</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/CompanyDinner3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">公司聚餐3</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/BirthdayParty1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <h1 class="mb-4">夥伴慶生會</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


