
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(../../img/Index_Head1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <div>
                        <span class="subheading" data-i18n="app.indexHead1Main1">欢迎来到馥裕</span>
                    </div>
                    <span class="subheading" data-i18n="app.indexHead1Sub1">我们是您最佳的事业伙伴</span>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image:url(../../img/Index_Head2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <div>
                        <span class="subheading" data-i18n="app.indexHead2Main1">发展</span>
                        <span class="subheading" data-i18n="app.indexHead2Main2">属于您的事业</span>
                    </div>
                    <span class="subheading" data-i18n="app.indexHead2Sub1">今天的加入，迎向明天的成功</span>
                    @*<p><a href="#" class="btn btn-primary px-4 py-3 mt-3">Our Services</a></p>*@
                </div>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section">

    <div class="row d-flex">
        <div class="col-md-12 order-md-last wrap-about align-items-stretch">
            <div class="wrap-about-border ftco-animate">
                <h2 class="mb-2" data-i18n="app.compnayIntroduce">公司介紹</h2>
                <div class="row mt-1">
                    <div class="col-lg-6">
                        <div class="services text-center">
                            <div class="text media-body">
                                <h3 data-i18n="app.businessPhilosophy">經營理念：</h3>
                                <p data-i18n="app.businessPhilosophyContent">
                                    馥裕国际事业股份有限公司秉持诚实经营及关怀弱势族群提升生活品质至上的坚强理念，
                                    将会是馥裕国际事业股份有限公司与分销商合而为一。共同一体的事业体、共同经营、共同分享，以「事奉」为出发点，创造「一生的保障，一世的富足。」
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services text-center">
                            <div class="text media-body">
                                <h3 data-i18n="app.competitives">竞争优势：</h3>
                                <p data-i18n="app.competitivesContent">
                                    推出全球顶尖独特革命性商品，创新通路的行销理念，满足现代人的需求，不断推陈出新，市场永不退化，
                                    馥裕国际事业股份有限公司会给您最坚强的后盾―行政团队，国内外全力支援协助您从事并经营馥裕国际事业股份有限公司的事业体；
                                    不仅深植台湾，并已为进入全球舞台做好万全准备！ ！ ！
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <h2 data-i18n="app.activityHighlights">活动花絮</h2>
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(../../img/ClassStudy1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle1">课程研习1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(../../img/ClassStudy2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle2">课程研习2</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/ClassStudy3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle3">课程研习3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/ProductBriefing2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle4">事业说明1</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/ProductBriefing1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle5">事业说明2</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(../../img/CompanyDinner1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle6">公司聚歺1</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url(../../img/CompanyDinner2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle7">公司聚歺2</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/CompanyDinner3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle8">公司聚歺3</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image:url(../../img/BirthdayParty1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-baseline justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading" data-i18n="app.picTitle9">伙伴庆生会</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


