@{
    ViewBag.Title = "活動影片";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">@ViewBag.Title</h1>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">
                <div class="img img-video d-flex align-items-center" style="background-image: url(images/about.jpg);">
                    <div class="video justify-content-center">
                        <iframe width="560" height="380" src="https://www.youtube.com/embed/6eqbi5LSIGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                <h2 class="mb-4">水森活~油切器產品介紹</h2>
                <a href="https://www.youtube.com/watch?v=vD7qtYhTLEQ">https://www.youtube.com/watch?v=vD7qtYhTLEQ</a>
            </div>
        </div>
    </div>
</section>



