
<section class="hero-wrap hero-wrap-2" style="background-image: url(../../img/Foreword_Head1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread" data-i18n="app.activityVideo">活动影片</h1>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-counter">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2 d-flex">
            <div class="col-md-6 align-items-stretch d-flex">

            </div>
            <div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5">
                 Video is uncompleted
            </div>
        </div>
    </div>
</section>



